body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5e548e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #231942;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    width: 320px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .highlight {
    color: #E6BCCD; /* bright green */
  }
  
  p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #7E52A0;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #9B6BBA;
    transform: scale(1.05);
  }

  button:active {
    transform: scale(0.95);
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  } 

  .passwords {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  input[type="text"] {
    background-color: #0f172a;
    color: #E6BCCD;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-family: monospace;
  }